<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>HomePage!</title>
</head>
<body>
    <%- include('./partials/script') %>
    <%- include('./partials/nav') %>
</body>
</html>